<table>
    <tr>
        <td>
            <div class="input-group">
                <div class="input-group-addon">
                    <input type="checkbox" ng-model="answerTemp.checked">
                </div>
                <input type="text" class="form-control" name="text" ng-model="answerTemp.answer" ng-enter="addAnswer()" placeholder="Answer">
            </div>
        </td>
        <td style="width: 10%;">
            <span ng-include="'/admin/views/addButton.html'"></span>
        </td>
    </tr>
</table>


