<h1>Add Questions</h1>
<br/>
<label for="question">Question:</label>
<br/>
<textarea ng-model="question.question" name="question" id="question" cols="50" rows="5"></textarea>
<br/>
<label for="explanation">Explanation:</label>
<br/>
<textarea name="explanation" id="explanation" cols="50" rows="5" ng-model="question.explanation"></textarea>
<br/>
<label for="difficulty">Difficulty:</label>
<br/>
	<label ng-repeat="item in difficulty" for="difficulty">
		<input type="checkbox" name="difficulty" value="item.name" ng-model="item.checked" ng-click="difficultySelect($index, difficulty)">{{item.name}}
	</label>
<br/>
<label for="type">Type:</label>
<br/>
<select name="type" id="type" ng-model="question.type" ng-change="changeType()">
	<option ng-repeat="type in types" value="{{type.value}}" ng-selected="isSelected(type)">{{type.name}}</option>
</select>
<br/>
<div name="answer">
	<div ng-repeat="type in types" ng-include="'views/'+ type.html" ng-show="showAnswer(type.value)"></div>
</div>
<div ng-repeat="answer in question.answers">
	<p>{{answer.answer}} <a href="#" ng-click="removeAnswer(answer)" class="btn btn-danger btn-sm">X</a></p>
</div>
<a href="#" class="btn btn-success" ng-click="addAnswers()" tooltip="Super easy!">Add Answer</a>
<h1>{{question}}</h1>
